h1 {
    text-align: center;
    text-size-adjust: 15px;
}

.login-form {
    max-width: 300px;
}

.Container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    justify-content: center;
    align-items: center;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}